@page "/"
@inject IJSRuntime JS
<PageTitle>Blazelike</PageTitle>
@if (!Loadad)
{
    <div>
        Loading
    </div>
    return;    
}

<div class="holder @HolderClass">
    <div class="panel panel-side panel-left">
        <div class="panel-side-top">
            Minimap
        </div>
        <div class="panel-side-center">
            <div class="board board-@Height">  
                @for (var i = 0; i < Height; i++)
                {        
                    @for (var j = 0; j < Width; j++)
                    {
                        var x = j;
                        var y = i;
                        <div class="cell bakground-3">      
                            @if (World.Maps.ContainsKey((x, y)) && World.Maps[(x, y)].Visited)
                            {
                                var current = World.CurrentMap.Position == (x, y);
                                var color = current ? "4" : "3";
                                <span class="retro color-@color">#</span>
                                <span class="icon wall-@color"></span>
                            } else
                            {                                
                                <span class="retro"></span>
                                <span class="icon"></span>
                            }
                        </div>
                    }
                }
            </div>
        </div>
        <div class="panel-side-bottom">
            <button onclick="@(()=> ToggleRetroMode())" >
                Toggle retro mode
            </button>
        </div>
    </div>
    
    <div class="panel panel-center">
        <div class="board board-@MapHeight">  
            @for (var i = 0; i < MapHeight; i++)
            {        
                @for (var j = 0; j < MapWidth; j++)
                {
                    var x = j;
                    var y = i;
                    <div class="cell background-@(Board[x, y]?.BackgroundColor ?? 2)" onclick="@(()=> MoveTo(x, y))">                    
                        <span class="icon @Board[x, y]?.Icon-@Board[x, y]?.Color"></span>
                        <span class="retro color-@Board[x, y]?.Color">@Board[x, y]?.Character</span>
                    </div>
                }
            }
        </div>
    
    </div>
    

    <div class="panel panel-side panel-right">
        <div class="side-panel-top">
            Log
        </div>
        <div class="panel-side-center">
            @foreach (var line in Log)
            {
                <p>
                    @line
                </p>
            }
        </div>
        <div class="panel-side-bottom">
        </div>
    </div>
</div>
