@page "/"
@inject IJSRuntime JS
<PageTitle>Blazelike</PageTitle>
@if (!Loadad)
{
    <div>
        Loading
    </div>
    return;    
}

<div class="holder @HolderClass">
    <div class="panel panel-side panel-left">
        <div class="panel-side-top">
            Left panel
        </div>
        <div class="panel-side-center">
            Text
        </div>
        <div class="panel-side-bottom">
            <button onclick="@(()=> ToggleRetroMode())" >
                Toggle retro mode
            </button>
        </div>
    </div>
    
    <div class="panel panel-center">
        <div class="board">  
            @for (var i = 0; i < Height; i++)
            {        
                @for (var j = 0; j < Width; j++)
                {
                    var x = j;
                    var y = i;
                    <div class="cell background-@(Board[x, y]?.BackgroundColor ?? 2)" onclick="@(()=> MoveTo(x, y))">                    
                        <span class="icon @Board[x, y]?.Icon-@Board[x, y]?.Color"></span>
                        <span class="retro color-@Board[x, y]?.Color">@Board[x, y]?.Character</span>
                    </div>
                }
            }
        </div>
    
    </div>
    

    <div class="panel panel-side panel-right">
        <div class="side-panel-top">
            Log
        </div>
        <div class="panel-side-center">
            @foreach (var line in Log)
            {
                <p>
                    @line
                </p>
            }
        </div>
        <div class="panel-side-bottom">
        </div>
    </div>
</div>
