@page "/"
@inject IJSRuntime JS
<PageTitle>Blazelike</PageTitle>
<div class="holder @HolderClass">
    <div class="panel panel-side panel-left">
        <div class="panel-side-top">
            Left panel
        </div>
        <div class="panel-side-center">
            Text
        </div>
        <div class="panel-side-bottom">
            <button onclick="@(()=> ToggleRetroMode())" >
                Toggle retro mode
            </button>
        </div>
    </div>
    <div class="panel panel-center">
        <div class="board">  
            @if (Board is not null) 
            {
                @for (var i = 0; i < Height; i++)
                {        
                    @for (var j = 0; j < Width; j++)
                    {
                        var x = j;
                        var y = i;
                            
                        <div class="cell" onclick="@(()=> MoveTo(x, y))">
                            @{
                                var type = Board[j, i] switch
                                {
                                    "#" => "wall",
                                    "@" => "person",
                                    _ => ""
                                };
                                if (type != "")
                                {
                                    <span class="icon @type"></span>
                                }
                                <span class="retro">@Board[j, i]</span>
                            }
                        </div>
                    }
                }
            }
        </div>
    
    </div>
    <div class="panel panel-side panel-right">
        <div class="side-panel-top">
            Log
        </div>
        <div class="panel-side-center">
            @foreach (var line in Log)
            {
                <p>
                    @line
                </p>
            }
        </div>
        <div class="panel-side-bottom">
        </div>
    </div>
</div>